* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: #f5f7fa;
    color: #2c3e50;
    height: 100vh;
    width: 100%;
}

.header h1 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(90deg, #00A1DE, #00A1DE, #E5BE01, #20603D);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    width: 100%;
    padding: 2rem;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

main .hero {
    width: 40%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.intro p {
    width: 90%;
}

section.body .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
}

a>li {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 500px;
    height: 200px;
}

.grid-item {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #00A1DE;
}

.item-1:hover {
    background-color: #208ab1;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #E5BE01;
}

.item-2:hover {
    background-color: #b19508;
}

.item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #20603D;
}

.item-3:hover {
    background-color: #13472b;
}

.item-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #a7a6a563;
}

.item-4:hover {
    background-color: #b1afad;
}

/* Tablet styles */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 17px 20px;
    }
}

/* Mobile styles */
@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 17px 20px;
    }
}
